apache-airflow-providers-slack==3.0.0
airflow-provider-kafka
spyder-kernels
confluent-kafka
aiokafka
uuid
requests
pyarrow
pandas
numpy
avro-python3
python-schema-registry-client
fake-useragent
beautifulsoup4
SQLAlchemy
