airflow-provider-kafka
confluent-kafka
aiokafka
requests
pyarrow
pandas
numpy
avro-python3
python-schema-registry-client
fake-useragent
beautifulsoup4
SQLAlchemy
typing_extensions
pyspark==3.2.2
apache-airflow-providers-amazon==4.0.0
apache-airflow-providers-apache-spark==3.0.0
apache-airflow-providers-apache-livy==3.1.0
apache-airflow-providers-sftp==4.1.0
